


/* BODY */

body{
    background-color: brown;
}

/* HEADER */

h1{
    text-align: center;
}
h1 a{
    text-decoration: none;
}
h1 a:visited{
    color: white;
}
h1 a:hover{
    color: green;
}
nav{
    float: right;
}

/* /HEADER */

h2{
    clear: both;
    text-align: center;
    color: rgb(168, 160, 160);
}
p{
    color: white;
}
.qui img{
    transition-property: height;
    transition-duration: 5s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
}
.qui img:hover{
    height: 200px;
}




